//<Обнуление файлов / импорт переменных>===============================================
@import '_nullStyle';
@import '_variables';
//<Обнуление файлов / импорт переменных>===============================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,900&display=swap&subset=cyrillic-ext');
//</Подключаем шрифты>=======================================================================================

//<Подключаем bootstrap====================================================================================
@import '/node_modules/bootstrap/scss/bootstrap';
//</Подключаем bootstrap====================================================================================

//<Подключаем файлы стилей====================================================================================
@import '/src/components/FormInput/_styles';
@import '/src/components/TaskComponent/styles';
//</Подключаем файлы стилей====================================================================================
//-<Обнуление общиих параметров>-===================================================
body {
	font-family: $font-family;
	color: #000;
	font-size: 16px;
}
//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

//-<Основная сетка>==================================================================
.section-container {
	position: relative;
	width: 100%;
	max-width: 360px;
	min-width: 290px;
	margin: 0 auto;

	&:not(:first-child) {
		margin-top: 50px;
	}

	@media (min-width: 360px) {
		width: 60%;
	}
}

.task_container {
	li:not(:first-child) {
		border-top: 1px solid $gray-400;
	}
}

//-<Основная сетка>==================================================================
