//<Обнуление файлов / импорт переменных>===================================================================================
@import '_nullStyle';
@import '_variables';
//<Обнуление файлов / импорт переменных>===================================================================================

//<Подключаем шрифты>=================================================================================================
//--&subset=cyrillic-ext - оптимизация кирилици
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,900&display=swap');
//</Подключаем шрифты>=================================================================================================
//<Подключаем bootstrap>=================================================================================================
@import '/node_modules/bootstrap/scss/bootstrap';

//</Подключаем bootstrap=================================================================================================
//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================
//-<Обнуление общиих параметров>-===================================================
body {
	font-family: $font-family;
	color: #000;
	font-size: 16px;
}
//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

//---------------------------------------
// ._container {
// 	max-width: $maxWidthContainer + px;
// 	margin: 0 auto;
// 	@media (max-width: $md1+px) {
// 		max-width: 970px;
// 	}
// 	@media(max-width: $md2+px) {
// 		max-width: 750px;
// 	}
// 	@media(max-width: $md3+px) {
// 		max-width: none;
// 		padding: 0 10px;
// 	}
// }
//</Wrapper и Ограничивающий контейнер>========================================================================

//-<Основная сетка>==================================================================
.section-container {
	position: relative;
	width: 30%;
	max-width: 430px;
	min-width: 290px;
	margin: 0 auto;

	&:not(:first-child) {
		margin-top: 50px;
	}
}

.task_container {
	li:not(:first-child) {
		border-top: 1px solid $gray-400;
	}
}

//-<Основная сетка>==================================================================
